@model Commentaire

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Commentaire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="UpdateValid">
    <br />
            <input asp-for="Id" value="@Model.Id" type="hidden" />
            <input asp-for="ArticleId" value="@Model.ArticleId" type="hidden" />
            
    <div>
        <label asp-for="Contenu"></label>
        <input asp-for="Contenu" />
    </div>
    <br />
    <button>Valider</button>
</form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
